$backgroungImage: "../img/m-h-night.jpg";
$textColor: #fff;
$cardTextColor: #B9D1D1;
$buttonColor: #e4ae00;
$underline: #ff4d30;
$gradientStart: #dda201;
$gradientEnd: #97304c; 
$mainBackground: #21232E;
$cardBackground: #3B3F50;
