$backgroungImage: "../img/m-h-day.jpg";
$textColor: #282b39;
$cardTextColor: #C0C3CE;
$buttonColor: #699a00;
$underline: #0ca1c8;
$gradientStart: #649506;
$gradientEnd: #295ad5; 
$mainBackground: #fff;
$cardBackground: #21232E;
